@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700;&display=swap');

/* font -- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400 */

/* 
display 

- Mobile: 375px
- Desktop: 1440px 
*/

*,
*::after,
*::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
html{
    font-size: 15px;
}
:root{
    --clr-very-dark-blue /* (main background) */ : #090b1a;
    --clr-Dark-desaturated-blue /* (card background) */ : #1b1938;
    --clr-Soft-violet /* (accent) */ : #aa5cdb;
    --clr-White /* (main heading, stats) */ : #ffffff;
    --clr-Slightly-transparent-white /* (main paragraph) */ : #ffffffbf;
    --clr-Slightly-transparent-white /* (stat headings) */ : #ffffff99;
}

